<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>User Registration Form</h6>
        </div>
        <form>
          <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input formControlName="fullname" type="text" class="form-control">
              <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required', 'fullname')">Full Name is required !!!</span>
              <span class="text-danger" *ngIf="signupForm.controls['fullname'].dirty && signupForm.controls['fullname'].hasError('pattern')">
                Full Name must contain letters only !!!
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label">Mobile Number</label>
              <input formControlName="mobile" type="number" class="form-control">
              <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required', 'mobile')">Mobile Number is required !!!</span>
              <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.controls['mobile'].hasError('pattern')">Mobile Number must be 10 digits !!!</span>

            </div>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">Email ID is required !!!</span>
              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.controls['email'].hasError('email')">Invalid Email ID !!!</span>
              <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.controls['email'].hasError('emailExists')">User already exists !!!</span>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control">
              <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">Password is required !!!</span>
              <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.controls['password'].hasError('minlength')">Password must be at least 8 characters long !!!</span>
            </div>
            <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary mb-2">Sign up</button>
          </form>
          <a style="color: #fff; margin-top: 10px;" routerLink="/login">Already registered? Click here to Login !!!</a>
        </form>
      </div>
    </div>
  </div>
 </div>
